@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


html {
    background: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 2.5%;
}

.container {
    font-family: Roboto;
    color: white;
    padding: 0;
    height: 89vh;
    max-width: 100%;
    background: #353839;
    text-align: center;
    box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.73);
    -webkit-box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.73);
}

.main {
    margin: 0 0 0 0;
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    text-transform: uppercase;
}

.main h1 {
    opacity: 0;
    margin-top: 3%;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 1.5px;
    transition: 2s ease;
    -webkit-transition: 2s ease;
}

#biline {
    opacity: 0;
    font-size: 30px;
    font-weight: 200;
    transition: 2s ease;
    -webkit-transition: 2s ease;
}

.boxes {
    padding: 100px 0 0 0;
}

.box p {
    padding: 20px 5px 0 5px;
    font-size: 22px;
}

.box {
    opacity: 0;
    margin: 0 auto;
    display: block;
    max-width: 25%;
    height: 25rem;
    background-color: #454849;
    border-radius: 10px;
    box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.5);
}

.boxdisc {
    opacity: 0;
    margin: 0 auto;
    display: block;
    max-width: 18%;
    height: 25rem;
    background-color: #454849;
    border-radius: 10px;
    box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.5);
}

.boxplay {
    opacity: 0;
    margin: 0 auto;
    display: block;
    max-width: 25%;
    height: 27rem;
    background-color: #454849;
    border-radius: 10px;
    box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 39px 3px rgba(0,0,0,0.5);
    transition: 2s ease;
    transition-delay: 0.2s;
    -webkit-transition: 2s ease;
    -webkit-transition-delay: 0.2s;
}

.boxplay p {
    font-size: 20px;
}

.boxplay a {
    text-decoration: none;
    color: #7289da;
}

.boxplay a:hover {
    color: #5365a5;
}

#ranksimg {
    padding-top: 7px;
    width: 190px;
    height: 262px;
}

#NA {
    background-image: url("/img/NA.jpg");
    background-position: center;
    background-size: cover;
}

#OCE {
    background-image: url("/img/OCE.jpg");
    background-position: center;
    background-size: cover;
}

#EU {
    background-image: url("/img/EU.jpg");
    background-position: center;
    background-size: cover;
}

#SAM {
    background-image: url("/img/SAM.png");
    background-position: center;
    background-size: cover;
}


#discord {
    color: #7289da;
}

.steps {
    color: orange;
}

.boxdisc h1 {
    -webkit-text-stroke: 2px black;
    font-size: 38px;
}

.box h1 {
    font-size: 38px;
}

.getstarted {
	-moz-box-shadow: 0px 0px 25px -1px #000000;
	-webkit-box-shadow: 0px 0px 25px -1px #000000;
	box-shadow: 0px 0px 25px -1px #000000;
	background-color:#454849;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	display:inline-block;
	color:#F7F7F7;
	font-family:Roboto;
	font-size:22px;
	padding:9px 60px;
    text-decoration:none;
    border: none;
}
.getstarted:hover {
	background-color:#144922;
}

#box3 button {
    margin-top: 60px;
}

#strong {
    font-weight: 700;
}

/* =================================================== 
                    CUSTOM SCROLL BAR
   =================================================== */

.main::-webkit-scrollbar-track
{
    border-radius: 10px;
	background-color: #353839;
}

.main::-webkit-scrollbar
{
	width: 12px;
	background-color: #353839;
}

.main::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #4c5052;
}

/* =================================================== 
                    START NAV BAR 
   =================================================== */

.nav {
    font-family: Roboto;
    float:left;
    background-color: #101111;
    width: 130px;
    height: 89vh;
    text-transform: uppercase;
}

.links a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 0 10px 0;
}

.links i {
    font-size: 32px;
    padding: 0 0 15px 0;
}

.links a:hover {
    background: #202020;
}

.logo {
    width: 130px;
    height: 130px;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.active {
    background: #202020;
}

/* =================================================== 
                    
   =================================================== */
/* 
body {
    margin: 1.5%;
    font-family: roboto;
}

.container-fluid {
    background: #434F56;
    height: 100%;
}

.container h1 {
    color: white;
    background: rgb(219, 70, 87);
    text-align: center;
    height: 96px;
    line-height: 90px;
}

.container h4 {
    color: rgb(219, 70, 87);
}

#navbar {
    float: left;
    width: 70px;
    background: #607886;
    height: 100%;
    -webkit-transition: 0.5s ease;
}

ul {
    padding: 0 0 0 0;
    text-align: center;
}

#navbar-items {
    width: 70px;
    -webkit-transition: 0.5s ease;   
}

.navText {
    position: relative;
    display: none;
}

.icon {
    font-size: 38px;
    color: white;
    background: #556D7B;
}

.logo img {
    width: 70px;
    height: 65px;
    -webkit-transition: 0.5s ease;  
    margin-top: -15px;
}

.icon:hover {
    background: slateblue;
}
*/