/* global */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    /* background: #5B7382; */
    box-sizing: border-box;
}

.nav {
    text-align: center;
    height: 55px;
    width: 100%;
    line-height: 55px;
    background: 0;
    position: fixed;
    z-index: 999;
    margin: 0 auto;
    background-color: rgba(26, 26, 26, 0.7);
}

.menu {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(5, 130px);
    justify-content: center;
    background-color: rgba(26, 26, 26, 0.9);
}

.menu a {
    text-transform: uppercase;
    clear: right;
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
}

.menu a:hover {
    color: #777;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    user-select: none;
    color: #fff;
}

#toggle {
    display: none;
}

.hero {
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #160a19 0%, rgba(231,56,39,0) 100%), url(https://images8.alphacoders.com/820/820132.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;    
}

.wrapper h1 {
    padding-bottom: 1em;
}

.wrapper {
    color: #fff;
}

.wrapper .btn {
    background: rgb(71, 24, 90);
    opacity: 1.0;
    color: #fff;
    border: 0;
    padding: 0.5em;
    margin: 0 0.5em;
    border-radius: 10px;
}

.wrapper .btn:hover {
    opacity: .9;
}

.wrapper a {
    text-decoration: none;
}

#subtitle {
    font-size: 18px;
}

.container {
    margin: 3em 5em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    height: 15em;
    text-align: center;
}

.cards h1 {
    margin: 0;
    background: rgb(199, 199, 199);
    height: 30%;
    padding: .5em;
    border-radius: 23px 23px 0 0;
}

.cards p {
    padding: 0 1em;
}

.card1, .card2, .card3 {
    background: rgb(230, 230, 230);
    border-radius: 23px;
}

@media only screen and (max-width: 900px) {
    label {
        display: block;
        cursor: pointer;
    }

    .nav {
        border: 0;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid rgb(114, 139, 155);
        margin: 0;
    }

    .menu a:first-child {
        border-top: 1px solid rgb(114, 139, 155);
    }

    #toggle:checked + .menu {
        display: block;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}