@import "https://fonts.googleapis.com/css?family=Alegreya+Sans";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #F5F5F5;
    color: #67727A;
    font-family: 'Alegreya', sans-serif;
}

h2 {
    color: #F5F5F5;
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
    
}

h3 {
    font-size: 175%;
    font-weight: 400;
    line-height: 155%;
    padding: 5% 0;
    color: #F5F5F5;
}

p {
    font-family: 'Alegreya', sans-serif;
    font-size: 160%;
    line-height: 150%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
    color: #F5F5F5;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

header {
    background-color: rgb(90, 130, 156);
    width: 100%;
    height: 86px;
}

#header-inner {
    max-width: 1200px;
    margin: 0 auto;
}

#logo {
    margin: 20px;
    float: left;
    width: 200px;
    height: 60px;
    background: url(../img/6m2.png) no-repeat center;
}

/* NAVIGATION */

nav {
    padding: 25px 20px 0 0;
    text-align: center;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(../img/nav.png) no-repeat center;
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

ul {
    list-style-type: none;
}

nav ul li {
    font-family: 'Alegreya', sans-serif;
    font-size: 150%;
    display: inline-block;
    padding:10px;
}

nav ul li a {
    color: #F5F5F5;
    text-decoration: none;
}

nav ul li a:hover {
    color: #C3D7DF;
}

.current {
    color: #C3D7DF;
}

/* END NAVIGATION */

.banner {
    width: 100%;
    background-color: rgb(90, 130, 156);
}

.banner-inner {
    max-width: 1100px;
    margin: 0 auto;
}

.one-fourth {
    width: 25%;
    float: left;
    text-align: center;
}

#started {
    background-color: rgb(192, 141, 0);
}

#begin {
    background-color: rgb(87, 151, 71);
}

#socials {
    background-color: rgb(95, 226, 220);
}

.one-fourth i {
    color: #F0F0F0;
    font-size: 500%;
    padding: 13% 0 4% 0;
}

.inner-wrapper {
    float: left;
    width: 100%;
    background-color: rgb(90, 130, 156);
}

article {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#hubs {
    background-color: rgb(90, 130, 156);
}

aside {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#hubs2 {
    background-color: #A2B1C1;
}

#started:hover{
    background-color: rgb(214, 157, 0);
}

#begin:hover{
    background-color: rgb(100, 173, 81);
}

.inner-wrapper-2 {
    float: left;
    width: 100%;
    background-color: rgb(90, 130, 156);
}

#lvl {
    background-color: rgb(240, 133, 133);
}

#lvl2 {
    background-color: rgb(90, 130, 156);
}

#client {
    background-color: rgb(31, 136, 101);
}

.inner-wrapper-3 {
    float: left;
    width: 100%;
    background-color: rgb(14, 41, 59)
}

.one-third {
    width: 33.333333%;
    float: left;
    text-align: center;
}

#comp {
    background-color: rgb(5, 19, 31);
}

#placeh1 {
    background-color: rgb(25, 57, 85);
}

#placeh2 {
    background-color: rgb(5, 19, 31);
}

.inner-wrapper-4 {
    float: left;
    width: 100%;
    background-color: rgb(90, 130, 156);
}

.inner-wrapper-4 img {
    width: 75%;
    height: 75%;
    padding: 5% 0 5% 10%;
}

/* FOOTER START */

footer {
    background-color: rgb(90, 130, 156);
    width: 100%;
}

.social {
    list-style-type: none;
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 460%;
    margin: 1%;
    padding: 5% 5% 5% 4%;
    color: rgb(175, 212, 226);
}

.social i:hover {
    color: #F5F5F5;
}

footer.second {
    border-top: 1px solid #AADCD2;
    background-color: rgb(50, 76, 94);
    max-height: 60px;
    margin: 0;
}

footer.second p {
    text-align: center;
    padding: 5px 0 9px 0;
}

/* MEDIA QUERY START */

@media screen and (max-width: 768px) {
    h2 {
        font-size: 150%;
    }

    h3 {
        font-size: 125%;
    }

    p {
        font-size: 120%;
    }

    header {
        position: absolute;
    }

    #logo {
        margin: 15px 0 20px -25px;
        background: url(../img/6m_mobile.png) no-repeat center;
    }

    #menu-icon {
        display: inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: rgb(90, 130, 156);
        right: 20px;
        top: 60px;
        border: 1px solid #fff;
        border-radius: 5px 0 5px 5px;
        width: 50%;
    }

    nav:hover ul {
        display: block;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }

    .banner {
        padding-top: 86px;
    }

    .one-fourth {
        float: left;
        width: 100%;
    }

    .one-fourth i {
        font-size: 350%;
        padding: 4% 0 1% 0;
    }

    article {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    .lvl {
        display: none;
    }

    .one-third {
        float: left;
        width: 100%;
    }

    .social i {
        font-size: 200%;
    }
}