@import "https://fonts.googleapis.com/css?family=Alegreya+Sans";
@import "https://fonts.googleapis.com/css?family=Open+Sans";

* {
    margin: 0 auto;
    padding: 40px 0 40px 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    width: calc(100% - 200px);
}

body {
    background: rgb(223, 210, 210);
    color: #67727A;
    font-family: 'Alegreya', sans-serif;
    box-shadow: 0px 1px 74px -2px rgba(0,0,0,1);
    padding: 0;
}

h2 {
    color: #F5F5F5;
    font-size: 200%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
    
}

h3 {
    font-size: 155%;
    font-weight: 400;
    line-height: 155%;
    padding: 5% 0;
    color: #F5F5F5;
}

p {
    font-family: 'Alegreya', sans-serif;
    font-size: 130%;
    line-height: 150%;
    padding: 3%;
    text-align: justify;
    color: #F5F5F5;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

header {
    background-color: rgb(46, 43, 43);
    width: 100%;
    height: 42px;
}

#header-inner {
    max-width: 1200px;
}

#logo {
    margin: 20px;
    float: left;
    width: 200px;
    height: 60px;
    background: url(../img/6m2.png) no-repeat center;
}

/* NAVIGATION */

nav {
    margin-top: -7.1em;
    text-align: center;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(../img/nav.png) no-repeat center;
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

ul {
    list-style-type: none;
}

nav ul li {
    font-family: 'Alegreya', sans-serif;
    font-size: 150%;
    display: inline;
    padding:10px;
}

nav ul li a {
    color: #F5F5F5;
    text-decoration: none;
}

nav ul li a:hover {
    color: #C3D7DF;
}

.current {
    color: #C3D7DF;
}

/* END NAVIGATION */

/* ---------START EXPAND--------- */

#expand {
    width: 100%;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    -webkit-transition: height .1s ease-in-out,
    visibility .3s,
    opacity .3s;
}

.collapse-open:checked ~ #expand {
    max-height: 100%;
    opacity: 100;
    visibility: visible
}

.collapse-btn {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    display: block;
    margin-bottom: 0;
    color: #4285f4;
    transition: background-color .2s ease;
}

.collapse-btn:hover {
    background: #eee;
}

/* ---------END EXPAND--------- */

.banner {
    visibility: visible;
    width: 100%;
    background-color: rgb(70, 66, 66);
    height: 300px;
}

.banner-inner {
    max-width: 1100px;
    margin-top: -13em;
}

.one-fourth {
    width: 100%;
    float: left;
    text-align: center;
    height: 150px;
}

#started {
    background-color: rgb(192, 141, 0);
}

#begin {
    background-color: rgb(87, 151, 71);
}

/*#socials {
    background-color: rgb(95, 226, 220);
}*/

.one-fourth i {
    color: #F0F0F0;
    font-size: 500%;
    padding: 0 0 0 0;
    width: calc(100% - 300px);
    margin: 0 auto;
}

.one-fourth h3 {
    margin-top: -1.5em;
}

.inner-wrapper {
    float: left;
    width: 100%;
    background-color: rgb(70, 66, 66);
}

article {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#hubs {
    background-color: rgb(70, 66, 66);
}

#hubs img {
    width: 90%;
    height: 75%;
    padding: 5% 0 5% 5%;
}

#hubs2 img {
    width: 70%;
    margin: -25% 0 0 15%;
}

#hubs2 .step1 {
    color: rgb(0, 110, 255);
}

#lvl h2 {
    border-bottom: 5px solid rgb(0, 110, 255);
    padding-bottom: 10px;
}

#lvl .step2 {
    color: rgb(0, 110, 255);
}

#lvl2 img {
    width: 60%;
    height: 75%;
    padding: 5% 0 5% 10%;
}

#hubs2 h2 {
    border-bottom: 5px solid rgb(0, 110, 255);
    padding-bottom: 10px;
}

aside {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#hubs2 {
    background-color: rgb(37, 36, 36);
}

#hubs2 a {
    color: orange;
    text-decoration: none;
}

.inner-wrapper-2 {
    float: left;
    width: 100%;
    background-color: rgb(70, 66, 66);
}

#lvl {
    background-color: rgb(37, 36, 36);
}

#lvl2 {
    background-color: rgb(70, 66, 66);
}

#client {
    background-color: rgb(37, 36, 36);
}

#client .step3 {
    color: rgb(0, 110, 255);
}

#client h2 {
    border-bottom: 5px solid rgb(0, 110, 255);
    padding-bottom: 10px;
}

#client a {
    color:orange;
    text-decoration: none;
}

#client i {
    padding-left: 25%;
}

/*.inner-wrapper-3 {
    float: left;
    width: 100%;
    background-color: rgb(14, 41, 59);
}*/

.one-third {
    width: 33.333333%;
    float: left;
    text-align: center;
}

#comp {
    background-color: rgb(5, 19, 31);
}

#placeh1 {
    background-color: rgb(25, 57, 85);
}

#placeh2 {
    background-color: rgb(5, 19, 31);
}

.inner-wrapper-4 {
    float: left;
    width: 100%;
    background-color: rgb(70, 66, 66);
}

.inner-wrapper-4 img {
    width: 95%;
    height: 100%;
    padding: 5% 2% 0 2%;
}

.inner-wrapper-5 {
    position: relative;
    float: left;
    width: 100%;
    background-color: rgb(70, 66, 66);
}

.inner-wrapper-5 article {
    float: right;
    clear: right;
}

.inner-wrapper-5 img {
    width: 90%;
    padding: 3% 2% 0 5%;
}

#discord {
    background-color: rgb(37, 36, 36);
}

#flag {
    height: 2%;
    width: 2%;
    display: inline;
    padding: 1%;
}

.step4 {
    color: rgb(0, 110, 255);
}

.step5 {
    color: rgb(0, 110, 255);
}

.step6 {
    color: rgb(0, 110, 255);
}

#rules h2 {
    border-bottom: 5px solid rgb(0, 110, 255);
    padding-bottom: 10px;
}


#discord h2 {
    border-bottom: 5px solid rgb(0, 110, 255);
    padding-bottom: 10px;
}

#disclink {
    text-decoration: none;
    color: orange;
}

#discDL {
    text-decoration: none;
    color: orange;
}

#authimg {
    margin: 10% 0 0 29%;
}

.inner-wrapper-6 {
    position: relative;
    float: left;
    width: 100%;
    background-color: rgb(70, 66, 66);
}

#linkauth {
    padding: 1% 0 0 15%;
}

.inner-wrapper-7 {
    position: relative;
    float: left;
    width: 100%;
    background-color: rgb(70, 66, 66);
}

.inner-wrapper-7 img {
    width: 65%;
    padding: 3% 2% 0 20%;
}

.inner-wrapper-7 article {
    float: right;
    clear: right;
}

#rules {
    background-color: rgb(37, 36, 36);
}

#ruleset {
    text-decoration: none;
    color: orange;
}

/* FOOTER START */

footer {
    background-color: rgb(50, 76, 94);
    width: 100%;
}

footer p {
    text-align: center;
    padding: 15px;
}

/*footer {
    background-color: rgb(90, 130, 156);
    width: 100%;
}

.social {
    list-style-type: none;
    text-align: center;
}

.social li {
    display: inline-block;
}

.social i {
    font-size: 200%;
    margin: 1%;
    padding: 5% 5% 5% 4%;
    color: rgb(175, 212, 226);
}

.social i:hover {
    color: #F5F5F5;
}*/

/* MEDIA QUERY START */

@media screen and (max-width: 768px) {
    h2 {
        font-size: 150%;
    }

    h3 {
        font-size: 125%;
    }

    p {
        font-size: 120%;
    }

    header {
        position: absolute;
    }

    #logo {
        margin: 15px 0 20px -25px;
        background: url(../img/6m_mobile.png) no-repeat center;
    }

    #menu-icon {
        display: inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: rgb(90, 130, 156);
        right: 20px;
        top: 60px;
        border: 1px solid #fff;
        border-radius: 5px 0 5px 5px;
        width: 50%;
    }

    nav:hover ul {
        display: block;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }

    .banner {
        padding-top: 86px;
    }

    .one-fourth {
        float: left;
        width: 100%;
    }

    .one-fourth i {
        font-size: 350%;
        padding: 4% 0 1% 0;
    }

    article {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    .lvl {
        display: none;
    }

    .one-third {
        float: left;
        width: 100%;
    }

    .social i {
        font-size: 200%;
    }
}